# Ignore cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore fstring_lists.txt
fstring_lists.txt

# Ignore PyInstaller and app build outputs
build/
dist/
*.spec
*.app/

# Ignore generated macOS icon files
*.icns

# Ignore Build Instructions
BUILD_INSTRUCTIONS.md